html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#app{
    width:900px;
    margin:50px auto;
}

#title{
    font-size:40px;
    margin-bottom:10px;
}

#subtitle{
    color:#777;
    margin-bottom:30px;
}

#description{
    font-size:18px;
    line-height:1.8;
}

#price{
    margin-top:40px;
    font-size:35px;
    font-weight:bold;
    color:#ff4b6e;
}
